.figure-nav .figure-nav-footer {
  margin-top: auto;
  padding-top: 40px;
}

.figure-nav-logo {
  width: 64px;
}

.figure-nav-tos,
.figure-nav-tos > *,
.figure-nav-copyright,
.figure-nav-copyright > * {
  color: #c0c3dd;
  line-height: 14px;
  font-style: normal;
  font-size: 10.24px;
  font-weight: normal;
  letter-spacing: 0.01em;

  text-decoration: none;
}

.figure-nav-tos a:hover,
.figure-nav-copyright a:hover {
  text-decoration: none;
  color: var(--nav-dropdown-active-bgColor);
}

.figure-nav-tos {
  margin-top: 14px;
}

.figure-nav-copyright {
  margin-top: 7px;
}
