header.figure-nav-container {
  min-width: var(--side-nav-width);
}

.figure-nav .left-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 30px 0px 30px;
}

/* Account Chooser */
.figure-nav #figure-nav-account-chooser {
  display: flex;
  font-size: 14px;
  align-items: flex-start;
  border-color: transparent;
  background-color: transparent;
}

.figure-nav #figure-nav-account-chooser p {
  width: 100%;
  margin: 0px;
  text-align: left;
  white-space: normal;
}

/* Button */
.figure-nav-account-dropdown button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.figure-nav #figure-nav-account-chooser svg {
  margin-top: 2px;
  margin-left: 5px;
}

.figure-nav #figure-nav-account-chooser:after {
  display: none;
}

/* Dropdown */
.figure-nav .figure-nav-account-dropdown .dropdown-menu {
  padding: 0;
  width: 181px;
  overflow: hidden;
  transform: unset !important;
}

.figure-nav .figure-nav-account-dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
  white-space: normal;
  padding-bottom: 10px;
  text-overflow: ellipsis;
}

.figure-nav
  .figure-nav-account-dropdown
  .dropdown-menu
  .dropdown-item:not(:last-child) {
  color: var(--nav-bgColor);
  transition: 0.27s linear all;
  border-bottom: 1px solid var(--nav-dropdown-border-color);
}

.figure-nav .figure-nav-account-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--nav-dropdown-active-bgColor);
}

/* Previous */
.figure-nav .container .figure-nav-links .nav-prev-button {
  opacity: 0.7;
  cursor: pointer;
  font-weight: 500;
  line-height: 26px;
  font-size: 12.8px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.figure-nav .container .figure-nav-links .nav-prev-header {
  display: block;
  margin-top: 48px;
  position: relative;
  margin-bottom: 52px;

  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  letter-spacing: -0.021em;
}

.figure-nav .container .figure-nav-links .nav-prev-button,
.figure-nav .container .figure-nav-links .nav-previous-arrow {
  cursor: pointer;
  margin-right: 10px;
  transition: var(--nav-item-animation-duration) linear all;
}

.figure-nav .container .figure-nav-links .nav-prev-button:hover {
  opacity: 1;
}

.figure-nav
  .container
  .figure-nav-links
  .nav-prev-button:hover
  .nav-previous-arrow {
  transform: translateX(-2px);
}

/* Links */
.figure-nav .container .figure-nav-links .nav-item {
  cursor: pointer;
  position: relative;
}

.figure-nav .container .figure-nav-links .nav-item .nav-link p.nav-label {
  height: 30px;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label {
  opacity: 0.7;
  cursor: pointer;
}

.figure-nav .container .figure-nav-links .nav-link h5.nav-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: -0.021em;
}

.figure-nav .container .figure-nav-links .nav-link p.nav-label {
  margin-bottom: 0px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  font-style: normal;
  letter-spacing: -0.006em;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span {
  position: relative;
  /* padding-bottom: 5px; */
  transition: var(--nav-item-animation-duration) opacity linear;
}

.figure-nav .container .figure-nav-links .nav-item:hover .nav-link .nav-label {
  opacity: 1;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:after {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--nav-underline-color);

  transform: scaleX(0);
  transform-origin: right bottom;
}

.figure-nav
  .container
  .figure-nav-links
  .nav-item:hover
  .nav-link
  .nav-label
  span:after,
.figure-nav
  .container
  .figure-nav-links
  .nav-link
  .nav-label
  span:active:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: var(--nav-item-animation-duration) transform linear;
}

/* Content/Pages Outputs formatting */
.nav-sub-div.inline-flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.inline-flex {
  display: flex;
  align-items: center;
}
.nav-sub-div.inline-flex .info-con {
  margin-top: 0;
  margin-left: 5px;
  align-self: center;
}
.nav-sub-div.inline-flex .nav-sub-label {
  margin-bottom: 0;
  align-self: center;
}
.nav-sub-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--nav-links-color);
  opacity: 0.5;
}
.nav-sub-div .nav-label {
  color: var(--nav-links-color);
}
.nav-sub-div.inline-flex .unavailable-info {
  display: flex;
}
.nav-sub-div.inline-flex .unavailable-info path {
  stroke: var(--nav-links-color);
  transition: stroke var(--nav-transition-time) ease-in-out;
}
.nav-sub-div.inline-flex .unavailable-info:hover {
  cursor: pointer;
}
.nav-sub-div.inline-flex.unavailable:hover path {
  stroke: var(--nav-dropdown-active-bgColor);
  transition: stroke var(--nav-transition-time) ease-in-out;
}
