/* CSS Variables */
:root {
  --body-bgColor: #2a2f56;
  --modal-bgColor: #2a2f56bd;
  
  --nav-color: #ffffff;
  --nav-bgColor: #2a2f56;
  --nav-underline-color: #ffffff;
  --nav-item-animation-duration: 0.2s;

  --nav-search-btn-color: #ffffff9a;
  --nav-search-btn-bgColor: rgba(255, 255, 255, 0.1);
  --nav-search-bar-bgColor: rgba(255, 255, 255, 0.25);
  --nav-search-list-bgColor: rgba(255, 255, 255, 0.99);
  --nav-search-list-hover-bgColor: rgba(200, 200, 200, 0.35);
  --nav-search-drop-bgColor: #F6F6FB;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--nav-bgColor);
}

.figure-nav {
  width: 100%;
  height: 100%;
  max-width: 200px;
  color: var(--nav-color);
  /* background-color: var(--nav-bgColor); */
}

.figure-nav .left-nav-container {
  display: flex;
  height: 100vh;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
}

/* Account Chooser */
.figure-nav .container .figure-nav-account {
  flex: 0 0 15%;
}

.figure-nav #figure-nav-account-chooser {
  border-color: transparent;
  background-color: transparent;
}

/* Links */
.figure-nav .container .figure-nav-links {
  flex: 0 0 70%;
}

.figure-nav .container .figure-nav-links .nav-link,
.figure-nav .container .figure-nav-links .nav-prev-button,
.figure-nav .container .figure-nav-links .nav-prev-header {
  padding-left: 0.75rem;
}

.figure-nav .container .figure-nav-links .nav-prev-button {
  cursor: pointer;
}

.figure-nav .container .figure-nav-links .nav-prev-button .nav-previous-arrow {
  margin-right: 10px;
}

.figure-nav .container .figure-nav-links .nav-prev-button,
.figure-nav .container .figure-nav-links .nav-prev-header {
  margin-bottom: 2rem;
}

.figure-nav .container .figure-nav-links .nav-link p.nav-label {
  margin-bottom: 0px;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span {
  opacity: 0.7;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
  transition: var(--nav-item-animation-duration) opacity linear;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:hover {
  opacity: 1;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:after {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--nav-underline-color);

  transform: scaleX(0);
  transform-origin: right bottom;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:hover:after,
.figure-nav
  .container
  .figure-nav-links
  .nav-link
  .nav-label
  span:active:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: var(--nav-item-animation-duration) transform linear;
}

.figure-top-nav {
  width: 100%;
  max-height: 70px;
  color: var(--nav-color);
}

.figure-top-nav .figure-dashboard-search {
  width: 100%;
  padding: 16px 0px;
  position: relative;
  color: var(--nav-color);
}

/* Icon absolute on button and text input */
.figure-top-nav .figure-dashboard-search .search-icon {
  position: absolute;
  top: 25px;
  left: 12px;
  color: var(--nav-search-btn-color);
  cursor: pointer;
}
.figure-top-nav .figure-dashboard-search .search-icon.dark-icon {
  color: var(--nav-bgColor);
}

.figure-top-nav .figure-dashboard-search .dashboard-search-bar {
  width: 100%;
  text-align: left;
  padding: 6px 6px 6px 38px;
  border: 0px solid transparent;
  color: var(--nav-search-btn-color);
  background: var(--nav-search-bar-bgColor);
}
.figure-top-nav .figure-dashboard-search .dashboard-search-bar.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1301;
}
.figure-top-nav .figure-dashboard-search.active,
.figure-top-nav .figure-dashboard-search .search-icon.active,
.figure-top-nav .figure-dashboard-search #dashboard-search-list.active {
  z-index: 1301;
}

.search-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  transition: background-color .5s ease-in-out, z-index .5s ease-in-out;
}

.search-backdrop.active {
  background-color: var(--modal-bgColor);
  z-index: 1200;
  transition: background-color .5s ease-in-out, z-index .5s ease-in-out;
}

.figure-top-nav .figure-dashboard-search .dashboard-search-bar:focus {
  color: var(--nav-bgColor);
  background: var(--nav-color);
  box-shadow: none;
}

.figure-top-nav .figure-dashboard-search #dashboard-search-list {
  top: 52px;
  left: 0px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: absolute;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--nav-search-list-bgColor);
}

.figure-top-nav
  .figure-dashboard-search
  #dashboard-search-list
  .dashboard-search-list-item {
  padding-bottom: 5px;
}
.figure-top-nav
  .figure-dashboard-search
  #dashboard-search-list
  .dashboard-search-list-item:first-of-type {
  border-top: 1px solid #E6E6EB;
}
.figure-top-nav
  .figure-dashboard-search
  #dashboard-search-list
  .dashboard-search-list-item.advanced-search {
  padding-bottom: 0;
}
.figure-top-nav
  .figure-dashboard-search
  #dashboard-search-list
  .dashboard-search-list-item.advanced-search a {
  color: #FF7358;
  background:#F6F6FB;
  border-top: 1px solid #E6E6EB;
}
.figure-top-nav .figure-dashboard-search #dashboard-search-list a {
  width: 100%;
  display: block;
  padding: 5px 0 5px 12px;
  text-decoration: none;
  color: var(--body-bgColor);
  background: var(--nav-search-list-bgColor);
}
.figure-top-nav .figure-dashboard-search #dashboard-search-list a:hover {
  background: var(--nav-search-list-hover-bgColor);
}
.
