/* CSS Variables */
:root {
  --nav-color: #ffffff;
  --nav-bgColor: #2a2f56;
  --nav-underline-color: #ffffff;

  --nav-item-animation-duration: 0.3s;
}

.figure-nav {
  width: 100%;
  height: 100%;
  max-width: 200px;
  color: var(--nav-color);
  background-color: var(--nav-bgColor);
}

.figure-nav .container {
  display: flex;
  height: 100vh;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
}

/* Account Chooser */
.figure-nav .container .figure-nav-account {
  flex: 0 0 15%;
}

.figure-nav #figure-nav-account-chooser {
  border-color: transparent;
  background-color: transparent;
}

/* Links */
.figure-nav .container .figure-nav-links {
  flex: 0 0 70%;
}

.figure-nav .container .figure-nav-links .nav-link {
  padding-left: 0.75rem;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span {
  opacity: 0.7;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
  transition: var(--nav-item-animation-duration) opacity linear;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:hover {
  opacity: 1;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:after {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--nav-underline-color);

  transform: scaleX(0);
  transform-origin: right bottom;
  transition: var(--nav-item-animation-duration) transform linear;
}

.figure-nav .container .figure-nav-links .nav-link .nav-label span:hover:after,
.figure-nav
  .container
  .figure-nav-links
  .nav-link
  .nav-label
  span:active:after {
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: var(--nav-item-animation-duration) transform linear;
}
